<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Index</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <header>
        <div class="header">
            <nav class="header_nav">
                <a> Kim & Bop </a>
                <a href="index.html">HOME</a>
                <a href="map_view.html">MAP</a>
            </nav>
        </div>

    </header>
    <main>
        <h1> Kim & Bop </h1><br>
        <div class="slider_position">
            <div class="slider">
                <img id="slideImage" src="" alt="슬라이드 이미지">
            </div>
        </div>
        <div>22개의 지점으로 당신을 맞이하겠습니다.</div>
        <script src="js/slide.js"></script>
    </main>
    <footer class="footer">
        <p>대표전화: 02-1234-5678</p>
        <p>서울지점 주소: 서울특별시 중구 세종대로 110 (서울시청)</p>
        <p>&copy; 2025 Kim & Bop. All rights reserved.</p>
    </footer>

</body>

</html>